/* SECTION CONTACT US */
.section-contact-us { background-image: url('../images/map.png'); }
.section-contact-us-shell { display: flex; flex-direction: column; margin: auto; max-width: 990px; width: 100%; height: 740px; padding-top: 100px; }
.section-contact-us .rectangle { width: 990px; height: 380px; background-color: white; border-radius: 5px; }
.section-contact-us .triangle-topleft { width: 0; height: 0; border-top: 150px solid white; border-right: 100px solid transparent; margin-left: 190px; }
.section-contact-us .rectangle .rectangle-shell { padding: 50px; text-align: center; display: flex; flex-direction: column; }
.section-contact-us .rectangle .rectangle-shell h2 { margin-top: 0; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list { display: flex; flex-direction: row; justify-content: space-around; padding-left: 0; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list .contact-us-list-item { width: 150px; height: 120px; text-align: left; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list .contact-us-list-item p { font-size: 16px; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list h4 { font-weight: 500; }

@media(max-width: 900px){
  .section-contact-us { background-image: none; }
  .section-contact-us-shell { padding-top: 21px; }
  .section-contact-us .rectangle .rectangle-shell .contact-us-list { display: flex; flex-direction: column; }
  .section-contact-us .rectangle .rectangle-shell { padding: 0; }
  .section-contact-us .rectangle .rectangle-shell .contact-us-list .contact-us-list-item { width: auto; height: auto; text-align: center; margin: 0 auto 6% auto; }
  .section-contact-us .rectangle .rectangle-shell .contact-us-list h4 { margin-bottom: 0; }
  .section-contact-us .rectangle { width: 300px; height: auto; background-color: none; border-radius: none; margin: 0 auto; }
  .section-contact-us .triangle-topleft { display: none; }
}