
.section-how-we-work { background-image: url('../images/how-we-work.png'); }
.section-how-we-work-shell { display: flex; flex-direction: column; max-width: 960px; width: 100%; color: white; text-align: center; margin: 140px auto; letter-spacing: 2px; }
.section-how-we-work-shell .how-we-work-content { display: flex; flex-direction: row; justify-content: space-between; margin-top: 80px; font-size: 0.8em; }
.how-we-work-content .content { width: 30%; }
.how-we-work-content .content .content-icon-container img { width: 70px; height: 70px; }
.how-we-work-content .content.lab-style h4 { padding: 0 90px; }
.mobile-background { display: none; }

@media(max-width: 800px){
  .section-how-we-work { background-image: url('../images/mobile-v-compressed.jpg'); margin-bottom: 8%; }
  .section-how-we-work-shell { margin: 0; }
  .section-how-we-work-shell h2 { display: none; }
  .section-how-we-work-shell h4 { font-size: 12px; margin: 0; }
  .section-how-we-work-shell .how-we-work-content { flex-direction: column; display: block; padding: 0 12px; margin: 10% 0; }
  .how-we-work-content .content { width: 50%; margin: 0 auto; }
  .how-we-work-content .content .content-icon-container img { width: 50px; height: 50px; }
  .how-we-work-content .content.lab-style h4 { padding: 0; }
  .how-we-work-content .content .content-info p { font-size: 14px; }
}
