/* COMMON CSS */
body { margin: 0; overflow-x: hidden; font-family: Helvetica; }
h1 { font-size: 58px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
@media(max-width: 400px) {
  h1 { font-size: 24px; }
  h2 { font-size: 20px; }
  h4 { font-size: 16px }
}
h2 { font-size: 46px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
h4 { font-size: 18px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; color: #1cd667 }
p { font-size: 18px; line-height: 1.56; letter-spacing: 1px; }
span { color: #1cd667; font-weight: 600; }
ul { list-style-type: none; }

.right-arrow { margin-top: 20px; margin-left: 14px; top: 7px; right: -15%; height: 16px; width: 16px; border-style: solid; border-color: #1ad565; border-width: 3px 3px 0 0; transform: rotate(45deg); }
.left-arrow { margin: 20px; top: 7px; left: -15%; height: 16px; width: 16px; border-style: solid; border-color: #1ad565; border-width: 3px 0 0 3px; transform: rotate(-45deg); }
.right-arrow.no-margin { margin: 0; display: inline-block; height: 9px; width: 9px; border-width: 2px 2px 0 0; }

::-webkit-scrollbar { display: none; }

.button { color: white; background-color: #1ad565; border-radius: 4px; width: 120px; padding: 12px 20px; font-size: 14px; letter-spacing: 1px; text-decoration: none; text-align: center; cursor: pointer; }
.button:hover { background-color: #0ad059; }

.button.no-background { border: 2px solid #1cd667; color: black; background-color: transparent; padding: 10px; font-size: 12px; font-weight: 600; }
.button.no-background:hover { background-color: #1cd667; color: white; }
.button.no-background:hover > .right-arrow { border-color: white; }

.button-circle { background-color: white; text-decoration: none; box-shadow: 3px 3px 7px 0 #c5c5c5; width: 55px; height: 55px; border-radius: 100%; text-align: center; cursor: pointer; }
.button-circle:hover { background-color: #1ad565; }
.button-circle:hover > .left-arrow { border-color: white; }
.button-circle:hover > .right-arrow { border-color: white; }
.button-circle img { height: 32px; width: 32px; margin-top: 10px; }
@media(max-width: 400px){
  .button-circle { margin: 0 4px; }
}

@media(min-width: 500px){
  .button-circle { margin: 0 10px; }
}


.btn-join-our-team { color: #1cd667; text-decoration: none; font-weight: 600; cursor: pointer; }
.btn-join-our-team:hover { text-decoration: underline }

.app-container { max-width: 100%; max-height: 100%; background-color: white; display: flex; flex-direction: column; }

.hamburger-menu { display: none; }

.hamburger-menu div {
  width: 28px;
  height: 4px;
  background-color: #1cd667;
  margin: 6px 0;
}

/* SECTION HEADER */
.section-header { width: 100%; height: 90px; background-color: white; position: fixed; font-size: 1em; color: #9a9a9a; letter-spacing: 1px; z-index: 1;}
.section-header-inner { display: flex; flex-direction: row; }
.section-header-nav { list-style-type: none; display: flex; flex-direction: row; padding-right: 70px; margin: 0; }
.section-header-nav .nav-item { padding: 12px; margin-left: 10px; text-align: center; position: relative; }
.section-header-nav .nav-item .nav-join-us-a { text-decoration: none; color: white; }
.section-header-nav .nav-item:nth-child(3) { margin-right: 14px; }
.section-header img { max-width: 200px; }
.section-header-nav .nav-item:hover { cursor: pointer; }
.section-header-burger-container { display: flex; flex-direction: row; }
.section-header-logo-container { height: 40px; width: 100%; max-width: 320px; padding: 2%; }
.section-header-logo-container:hover { cursor: pointer; }

@media(max-width: 450px){
  .section-header { height: auto; }
  .section-header img { height: 60%; }
  .section-header-inner { justify-content: space-between; width: 85%; margin-left: 0; padding: 20px; padding-bottom: 0; }
  .hamburger-menu { display: block; }
  .section-header-inner { flex-direction: column; }
  .section-header-nav { flex-direction: column; margin: 0; padding: 0; padding-right: 0}
  .section-header-nav .button { width: 100%;}
  .section-header-nav .nav-item { margin-left: 0; }
}

@media(min-width: 500px){
  .section-header-inner { justify-content: space-evenly; width: 100%; max-width: 960px; margin: 0 auto; padding: 26px; }
}

/* SECTION HOME PAGE */
.section-home { background-image: url('./images/header.png'); }
.section-home, .section-how-we-work, .section-contact-us {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 740px;
  background-position: center;
}
@media(max-width: 400px){
  .section-home { height: 450px; }
  .section-home-shell-inner { width: 330px; margin-top: -104px; }
  .section-home-shell-inner p { width: 306px; font-size: 16px; }
  .section-home-shell-inner h1 { margin-bottom: 90px; }
}
@media(min-width: 500px){
  .section-home-shell-inner p { margin-top: 0; width: 470px; }
  .section-home-shell h1 { margin-bottom: 26px; }
}
.section-home-shell { max-width: 960px; width: 100%; margin: 200px auto; padding-left: 6%; }
.section-home-shell-inner { display: flex; flex-direction: column; }
.section-home-shell h1 { text-align: left; }

/* SECTION TALENTS WANTED */
.section-talents-wanted { display: flex; flex-direction: column; }
.section-talents-shell { margin: 0 auto; text-align: center; }
.section-talents-wanted h2 { margin-bottom: 10px; }
/* .section-talents-wanted p { width: 590px; } */
.section-talents-items {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 960px;
  height: 300px;
}
.talents-item {
  flex: 0 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  padding: 40px 10px 0px 30px;
  margin-right: 20px;
}
.talents-item p { width: auto; font-size: 14px; text-align: left; line-height: 26px; margin-bottom: 20px; }
.section-talents-items .talents-item img { height: 10px; vertical-align: middle; padding-left: 8px; }
.section-talents-wanted .nav-buttons-container { display: flex; flex-direction: row; margin: 40px auto 60px auto; }
@media(max-width: 400px) {
  .section-talents-wanted h2 { font-size: 24px; }
  .section-talents-shell { margin: 0; }
  .section-talents-shell p { font-size: 16px; width: auto; padding: 0 10px; }
  .section-talents-items { width: 320px; }
  .section-talents-wanted .nav-buttons-container { margin: 0px auto 40px auto; }
}


/* SECTION HOW WE WORK */
.section-how-we-work { background-image: url('./images/how-we-work.png'); }
.section-how-we-work-shell { display: flex; flex-direction: column; max-width: 960px; width: 100%; color: white; text-align: center; margin: 140px auto; letter-spacing: 2px; }
.section-how-we-work-shell .how-we-work-content { display: flex; flex-direction: row; justify-content: space-between; margin-top: 80px; }
.how-we-work-content .content .content-icon-container img { width: 70px; height: 70px; }
.how-we-work-content .content.lab-style h4 { padding: 0 90px; }
.lato-font { font-family: Helvetica; }
@media(max-width: 400px){
  .section-how-we-work { background-position: unset; height: auto; }
  .section-how-we-work-shell { margin: 0; }
  .section-how-we-work-shell h2 { font-size: 16px; margin-bottom: 6px; }
  .section-how-we-work-shell h4 { font-size: 9px; margin: 0; }
  .section-how-we-work-shell .how-we-work-content { margin-top: 0px; }
  .how-we-work-content { padding: 0 12px; }
  .how-we-work-content .content { width: 100px; }
  .how-we-work-content .content .content-icon-container img { width: 40px; height: 40px; }
  .lato-font { letter-spacing: 1px; font-size: 12px; line-height: unset; }
  .how-we-work-content .content.lab-style h4 { padding: 0; }
  .how-we-work-content .content .content-info p { font-size: 10px; }
}
@media(min-width: 500px){
  .section-how-we-work-shell .how-we-work-content .content { width: 300px; }
}


/* SECTION OUR TEAM */
.section-talents-shell p.team-sub-title { width: 620px; margin-bottom: 50px; }
.talents-item-shell.team img { width: 132px; height: 132px; margin: auto; }
.talents-item-shell.team h4 { font-weight: 500; margin: 10px auto 0 auto; }
.talents-item-shell.team p { margin: 0; font-size: 18px; }
.talents-item.team { padding: 30px 70px; }
.talents-item-shell.team, .talents-item-shell.team p  { text-align: center; }
@media(max-width: 400px){
  .section-talents-shell p.team-sub-title { width: auto; }
}


/* SECTION CONTACT US */
.section-contact-us { background-image: url('./images/map.png'); }
.section-contact-us-shell { display: flex; flex-direction: column; margin: auto; max-width: 990px; width: 100%; height: 740px; padding-top: 100px; }
.section-contact-us .rectangle { width: 990px; height: 380px; background-color: white; border-radius: 5px; }
.section-contact-us .triangle-topleft { width: 0; height: 0; border-top: 150px solid white; border-right: 100px solid transparent; margin-left: 190px; }
.section-contact-us .rectangle .rectangle-shell { padding: 50px; text-align: center; display: flex; flex-direction: column; }
.section-contact-us .rectangle .rectangle-shell h2 { margin-top: 0; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list { display: flex; flex-direction: row; justify-content: space-around; padding-left: 0; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list .contact-us-list-item { width: 150px; height: 120px; text-align: left; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list .contact-us-list-item p { font-size: 16px; }
.section-contact-us .rectangle .rectangle-shell .contact-us-list h4 { font-weight: 500; }
@media(max-width: 400px){
  .section-contact-us { background-position: unset; }
  .section-contact-us-shell { padding-top: 21px; }
  .contact-us-shell { margin-top: 76px; }
  .section-contact-us .rectangle .rectangle-shell .contact-us-list { display: flex; flex-direction: column; }
  .section-contact-us .rectangle .rectangle-shell h2 { font-size: 18px; }
  .section-contact-us .rectangle .rectangle-shell .contact-us-list .contact-us-list-item { width: auto; height: auto; }
  .section-contact-us .rectangle .rectangle-shell .contact-us-list h4 { margin-bottom: 0; }
  .section-contact-us .rectangle { margin: 0 auto; width: 300px; height: 102px; }
  .section-contact-us .triangle-topleft { border-top: 45px solid white; border-right: 26px solid transparent; margin-left: 120px; }
}


/* SECTION FOOTER */
.section-footer { width: 100%; }
.section-footer .section-footer-shell { max-width: 960px; width: 100%; margin: 60px auto; }
.section-footer .section-footer-shell .section-footer-list { display: flex; flex-direction: row; justify-content: space-around; }
.section-footer .section-footer-shell .section-footer-list img { height: 40px; margin-bottom: 20px; }
.section-footer .section-footer-shell .section-footer-list-item { display: flex; flex-direction: column; }
.section-footer .section-footer-shell .section-footer-list-item h4 { font-weight: 500; }
.section-footer .section-footer-shell .section-footer-list-item a { margin: 0; margin-bottom: 12px; text-decoration: none; color: black; }
.section-footer .section-footer-shell .section-footer-list-item:first-child a { color: white; }
@media(max-width: 400px){
  .section-footer .section-footer-shell { margin: 90px auto; }
  .section-footer .section-footer-shell .section-footer-list { display: flex; flex-direction: column; }
  .section-footer .section-footer-shell .section-footer-list img { width: 200px; }
}

/* POP UP */
.pop-up { width: 100%; height: 100%; }
.pop-up-shell-outer { background-color: white; border-radius: 5px; box-shadow: -1px 13px 20px 0 #f0f2f4; height: auto; }
.pop-up .pop-up-shell { display: flex; flex-direction: column; }
.pop-up .pop-up-shell .pop-up-header { display: flex; flex-direction: row; justify-content: space-between; }
.pop-up .pop-up-shell img { height: 40px; margin-bottom: 10px; }
.pop-up .pop-up-shell .pop-up-content .title-bold { color: black; font-weight: 700; }
.pop-up .pop-up-shell .pop-up-content ul { list-style-type: disc; margin-top: 0; }
.ReactModal__Overlay { z-index: 2; }
.pop-up-close-btn { height: 40px; cursor: pointer; }
@media only screen and (min-width: 1000px) {
  .react-modal-container { outline: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 70%; height: 98%; overflow: auto; }
  .pop-up .pop-up-shell .pop-up-content h4 { text-transform: unset; font-size: 26px; font-weight: 700; }
  .pop-up .pop-up-shell .pop-up-content div { font-size: 14px; margin-bottom: 20px; letter-spacing: 1px; }
  .pop-up .pop-up-shell .pop-up-content p { font-size: 14px; margin-bottom: 20px; }
  .pop-up-shell-outer { padding: 50px 100px; }
}
@media only screen and (max-width: 1000px) {
  .react-modal-container { outline: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 98%; overflow: auto; }
  .pop-up .pop-up-shell .pop-up-content h4 { text-transform: unset; font-size: 22px; font-weight: 700; }
  .pop-up .pop-up-shell .pop-up-content div { font-size: 14px; margin-bottom: 20px; letter-spacing: 1px; }
  .pop-up .pop-up-shell .pop-up-content p { font-size: 14px; margin-bottom: 20px; }
  .pop-up-shell-outer { padding: 5% 5%; }
  .pop-up-content h2 { font-size: 24px; }
  .pop-up .pop-up-shell .pop-up-header .pop-up-close-btn img { height: 16px; }
  .pop-up .pop-up-shell .pop-up-header > img { height: 24px; }
}
